* {
    box-sizing: border-box;
    margin: 5px;
}

span.commentby{
    font-weight: bold;
    color: #007bff;
}

.comments{
    list-style-type: none;
    border-radius: 2px;
    border: solid 1px #e6e9ec;
    padding: 10px;
}

.title{
    font-weight: bold;
    font-size: 22px;
}

.price{
    font-weight: bold;
}

.date-added{
    font-size: 12px;
    color: gray;
}

.col-container{
    padding-left: 50px;
}
